

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/app/bootstrap/css/bootstrap.css">
    <title>Kuryer Sahifasi</title>
</head>
<body>

<div class="container py-5">
    <div class="card-body">

        <h2 class="card-title">Daraxt tabiiy - 159000 so'm</h2>
        <h3 class="card-title text-danger">ZAKAZ ID: #64828</h3>
        <ul class="text-muted">
            <li class="">Client: Shoxrux Isakov - <a
                    href="tel:+998946413697">+998946413697</a></li>
            <li class="">Manzil: Toshkent viloyati Ohangaron tumani</li>
            <li class="">Narxi: 189000 so'm </li>

            <li class="">Soni: 1ta</li>
            <li class="">Vaqti: 24-Sentabr, 2024-yil 21:56</li>
            <li class="">Yangilangan vaqti: 14-Oktabr, 2024-yil 20:00</li>
        </ul>

        <a href="/currier/order/64828?status=yetkazildi" class="btn btn-success"
           style="float: left; margin-right: 10px;">
            Yetkazildi
        </a>

        <a href="/currier/order/64828?status=keyin_oladi"
           class="btn btn-primary" style="float: left; margin-right: 10px;">
            Keyin oladi
        </a>

        <a href="/currier/order/64828?status=bekor_qilindi" class="btn btn-danger"
           style="float: left; margin-right: 10px;">
            Bekor qildi
        </a>

    </div>
</div>
</body>
</html>