{% extends 'apps/base.html' %}
{% load static %}
{% block title %}
    | Konkurs |
{% endblock %}

{% block main_content %}
    {% if concurs %}
        <div class="card-group mt-2">
            <div class="card overflow-hidden">
                <div class="card-img-top">
                    <img class="img-fluid" src="{{ concurs.photo.url }}" alt="Konkurs">
                </div>
                <div class="card-body">
                    <p>{{ concurs.description }}</p>
                    <div class="row light">
                        <div class="col-6 col-sm-6 col-lg-4 mb-4">
                            <div class="card text-white bg-info">
                                <div class="card-body">
                                    <div class="card-title">Boshlash</div>
                                    <p class="card-text">{{ concurs.start_date|date:'d M Y' }}-yil</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-lg-4 mb-4">
                            <div class="card text-white bg-danger">
                                <div class="card-body">
                                    <div class="card-title">Yakunlash</div>
                                    <p class="card-text">{{ concurs.end_date|date:'d M Y' }}-yil</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <h5 class="mb-0">Konkurs natijalari</h5>
            </div>
            <div class="card-body pt-0">
                <div class="table-responsive scrollbar">
                    <table class="table table-bordered table-striped fs--1 mb-0">
                        <thead class="bg-200 text-900">
                        <tr>
                            <th>№</th>
                            <th>Sotuvchi</th>
                            <th>Sotilgan</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user_ in users %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ user_.first_name }}</td>
                                <td>{{ user_.order_product_count }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-info mt-4 text-center">
            <h4 class="alert-heading">No Active Competition</h4>
            <p>Currently, there is no active competition. Please check back later for exciting contests!</p>
            <hr>
            <p class="mb-0">Stay tuned for the next competition! 😉</p>
        </div>
    {% endif %}
{% endblock %}