{% extends 'apps/base.html' %}

{% block title %}
    | So'rovlar |
{% endblock %}

{% block main_content %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="container">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-center">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Operator</th>
                            <th scope="col">Mahsulot</th>
                            <th scope="col">Oqim</th>
                            <th scope="col">Buyurtmachi</th>
                            <th scope="col">Viloyat</th>
                            <th scope="col">Holat</th>
                            <th scope="col">Izoh</th>
                            <th scope="col">Sana</th>
                        </tr>
                        {% for order in orders %}
                            <tr>
                                <th scope="col">{{ forloop.counter }}</th>
                                <th scope="col">{{ order.operator.first_name|default:'-' }}</th>
                                <th scope="col">{{ order.product.name }}</th>
                                <th scope="col">{{ order.stream.name }}</th>
                                <th scope="col">{{ order.owner|default:'aniq emas' }}</th>
                                <th scope="col">{{ order.region.name|default:'hali nomalum' }}</th>
                                <th scope="col">{{ order.get_status_display }}</th>
                                <th scope="col">{{ order.comment|default:'Izoh mavjud emas' }}</th>
                                 <th scope="col">{{ order.send_date|date|default:'Hali nomalum' }}</th>
                            </tr>
                        {% endfor %}

                        </thead>

                        <tbody class="text-center">

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}