{% extends "admin/change_list.html" %}
{% load i18n %}
{% load humanize %}
{% block content_title %}
    <h1> {% trans 'Courier Statistics' %} </h1>
{% endblock %}

{% block result_list %}
    <style>
        .statistics-summary {
            margin-bottom: 20px;
        }

        .statistics-summary p {
            font-size: 16px;
            font-weight: bold;
        }
    </style>

    <!-- Display today's and monthly statistics -->
    <div class="statistics-summary">
        <p><strong>{% trans "Today's Deliveries" %}:</strong> {{ todays_stats }}</p>
        <p><strong>{% trans "This Month's Deliveries" %}:</strong> {{ monthly_stats }}</p>
    </div>

    <div class="results">
        <table>
            <thead>
            <tr>
                <th>
                    <div class="text">
                        <a href="#" type="submit">{% trans 'Couriers' %}</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">{% trans 'ALL' %}</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">{% trans 'DELIVERED' %}</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">
                            <strong>{% trans '% OF TOTAL DELIVERIES' %}</strong>
                        </a>
                    </div>
                </th>
            </tr>
            </thead>

            <tbody>
            {% for row in summary %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td> {{ row.currier_full_name }} </td> <!-- Courier name -->
                    <td> {{ row.total | intcomma }} </td>
                    <td> {{ row.delivered | default:0 | intcomma }} </td>
                    <td>
                        <strong>
                            {{ row.of_total_deliveries|default:0 }} %
                        </strong>
                    </td>
                </tr>
            {% endfor %}
            <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
                <td> {% trans "Total" %}</td>
                <td> {{ summary_total.total | intcomma }} </td>
                <td> {{ summary_total.delivered | default:0 }}</td>
                <td> {{ overall | default:0 }} %</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}

{% block pagination %}{% endblock %}
