{% extends "admin/change_list.html" %}
{% load i18n %}
{% load humanize %}
{% block content_title %}
    <h1> {% trans 'Operator Statistics' %} </h1>
{% endblock %}
{% block result_list %}
    <style>
        .bar-chart {
            display: flex;
            justify-content: space-around;
            height: 160px;
            padding-top: 60px;
            overflow: hidden;
        }

        .bar-chart .bar {
            flex: 100%;
            align-self: flex-end;
            margin-right: 2px;
            position: relative;
            background-color: #79aec8;
        }

        .bar-chart .bar:last-child {
            margin: 0;
        }

        .bar-chart .bar:hover {
            background-color: #417690;
        }

        .bar-chart .bar .bar-tooltip {
            position: relative;
            z-index: 999;
        }

        .bar-chart .bar .bar-tooltip {
            position: absolute;
            top: -60px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            font-weight: bold;
            opacity: 0;
        }

        .bar-chart .bar:hover .bar-tooltip {
            opacity: 1;
        }
    </style>
    <div class="results">
        <table>
            
            <thead>
            <tr>
                <th>
                    <div class="text">
                        <a href="#" type="submit">{% trans 'Operators' %}
                        </a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">{% trans 'ALL' %}</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">{% trans 'SUCCESSFULLY' %}</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">
                            <strong>{% trans '% OF TOTAL TALKS' %}</strong>
                        </a>
                    </div>
                </th>
            </tr>
            </thead>

            <tbody>
            {% for row in summary %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td> {{ row.operator_full_name }} </td>
                    <td> {{ row.total | intcomma }} </td>
                    <td> {{ row.succeed | default:0 | intcomma }} </td>
                    <td>
                        <strong>
                            {{ row.of_total_talks|default:0 }} %
                        </strong>
                    </td>
                </tr>
            {% endfor %}
            <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
                <td> {% trans "Total" %}</td>
                <td> {{ summary_total.total | intcomma }} </td>
                <td> {{ summary_total.succeed | default:0 }}</td>
                <td> {{ overall | default:0 }} %</td>
            </tr>
            </tbody>

        </table>
        <div class="results">
            <div class="bar-chart">
                {% for x in summary_over_time %}
                    <div class="bar" style="height:{{ x.pct }}%">
                        <div class="bar-tooltip">
                            {{ x.total | default:0 | intcomma }}<br>
                            {{ x.period | date:"d/m/Y" }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block pagination %}{% endblock %}