{% extends 'apps/base.html' %}
{% load humanize %}

{% block title %}
    | Mahsulot haqida |
{% endblock %}

{% block main_content %}
    <div class="card mb-3 mt-2">
        <div class="card-body">
            <div class="col-lg-8 swiper-container">
                <form action="{% url 'product-detail' product.slug %}" method="post">
                    {% csrf_token %}
                    <div class="mb-2">
                        <label class="form-label" for="formGroupNameInput">Ism:</label>
                        <input class="form-control" name="full_name" placeholder="Ismingizni kiriting:"
                               id="formGroupNameInput" required type="text">
                        <input class="form-control" name="product" id="formGroupNameInput" type="hidden"
                               value="{{ product.pk }}">
                        {% if user.is_authenticated %}
                            <input class="form-control" name="owner" id="formGroupNameInput" type="hidden"
                                   value="{{ user.pk }}">
                            <input class="form-control" name="stream" id="formGroupNameInput" type="hidden"
                                   value="{{ stream_id }}">
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="phone-mask">
                            Telefon nomer:   {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        </label>
                        <input class="form-control" id="phone-mask" required=""
                               placeholder="Telefon raqamingizni kiriting:" name="phone" type="text">
                    </div>
                    <label class="form-label" for="formGroupNameInput">Manzil:</label>
                    <input class="form-control" name="manzil" placeholder="Manzilni kiriting: " id="formGroupNameInput"
                           required type="text">
                    <label class="form-label" for="formGroupNameInput">Talablar:</label>
                    <input class="form-control" name="talab" placeholder="Talabingizni kiriting: (agar bo'lsa 😊 )"
                           id="formGroupNameInput" type="text">
                    <span style="padding-bottom: 100px;">
                </span>
                    <div class="d-grid gap-2 col-6 mx-auto" style="margin-top: 20px;">
                        <button class="btn btn-primary" type="submit">Buyurtma berish</button>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-lg-8 swiper-container" style="margin-top: 20px;">
                    <img src="{{ product.photo.url }}" alt="" class="img-main mb-3 img-fluid">
                    <div class="row mb-5 thumbs">
                    </div>
                </div>
            </div>
            <div class="col-lg-8 swiper-container">
                <h5>
                    {{ product.name }}
                </h5>
                <p class="fs--1">
                </p>
                <p>
                    {{ product.description|safe }}
                </p>
                <h4 class="d-flex align-items-center">
                <span class="text-warning me-2">
                {{ product.price|add:discount|intcomma }} so'm
                </span>
                </h4>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/jquery.inputmask.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#phone-mask').inputmask({
                "mask": "+\\9\\98(99) 999-99-99"
            });
        });
    </script>
{% endblock %}