{% extends 'apps/base.html' %}

{% block title %}
    | Buyurtmalar |
{% endblock %}

{% block main_content %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="container" style="padding-top: 10px;">
                {% if not orders %}
                    <h3 class="text-center">Sizda hozircha buyurtmalar yo'q</h3>
                {% endif %}
                <div class="content_cart">
                    <div class="content_single-product-nouser">
                        <div class="row">
                            {% for order in orders %}
                                <div class="col-md-4 p-5">
                                    <h3>Mahsulot: {{ order.product.name }}</h3>
                                    {% if order.stream %}
                                        <small>Mahsulot narxi: {{ order.stream.changed_price }}</small>
                                    {% else %}
                                        <small>Mahsulot narxi: {{ order.product.price }}</small>
                                    {% endif %}
                                    <p>Soni: {{ order.quantity }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}