{% extends 'apps/base.html' %}

{% block title %}
    {{ request.path }}
{% endblock %}

{% block main_content %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="container" style="padding-top: 10px;">
                <div class="content_cart">

                    <div class="content_single-product-nouser">
                        <div class="row">

                            <div class="col-md-4 p-5">
                                <h3>Mahsulot: O‘zbekiston gerbi va xaritasi tushirilgan soat</h3>
                                <small>Mahsulot narxi: 89000</small>
                                <p>Soni: 1</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}